.DS_Store
.history
.env
.vscode
.cache
.history
.next
.vscode
*.log
*.icloud

report
logs
build

examples/**/**/package-lock.json
examples/fastify
**/**/dist
es

debug
dump.rdb
coverage
release
node_modules
